footer.l-footer(data-aos="fade-up" data-aos-offset="0").u-mt-120
  a.l-footer__logo-mask(href="#")
    img.l-footer__img(src="img/logo/navbar-logo.jpg", alt="MUJI無印良品LOGO")
  .l-footer__body
    .l-footer__menu
      ul.l-footer__btn-list
        li.l-footer__btn-item
          a.l-footer__btn(href="##") 店鋪情報 
        li.l-footer__btn-item
          a.l-footer__btn(href="##") 展店合作
        li.l-footer__btn-item
          a.l-footer__btn(href="##") 良品生活研究所
      ul.l-footer__btn-list
        li.l-footer__btn-item
          a.l-footer__btn(href="##") 仿冒品提醒聲明 
        li.l-footer__btn-item
          a.l-footer__btn(href="##") 人才招募 
        li.l-footer__btn-item
          a.l-footer__btn(href="##") 企業情報
      ul.l-footer__btn-list 
        li.l-footer__btn-item
          a.l-footer__btn(href="##") 博客來網路門市
        li.l-footer__btn-item
          a.l-footer__btn(href="##") momo網路購物門市
        li.l-footer__btn-item
          a.l-footer__btn(href="##") PChome24h購物
    span.u-mt-40.u-text-xs.u-text-center Copyright ©Ryohin Keikaku Co., Ltd.